.table{
    margin-top: 40px;
}
form{
    margin-top: 10px;
}
select{
    background: none;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}
.white{
    color: white;
}

.faIcon{
    cursor: pointer;
}