#entryTable{
    width: 100%;
}

#entryTable tr td{
    padding: 5px;
}

#entryTable tr td:nth-child(1){
    width: 100px;
    font-weight: bold;
}

#entryTable tr td:nth-child(2){
    width: 400px;
    float: left;
}