.navBar{
    color: white;
    background: #00515c;
    font-weight: bold;
    font-size: 1.5em;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: 100;
}
